/* Globalne style */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
menu {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #10c9c3;
  ;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00837f;
}

/*header*/
header {
  width: 100%;
}

.logo1 {
  margin-left: 15rem;
  padding: 38px 0 20px 0;

  float: left;
}

.logo {
  width: 31px;
  height: 25px;


}

header menu {
  max-width: 300px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 38px 0 20px 0;

}

header menu li {
  font-size: 12px;
  margin: 8px 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 30px;
}

header a:hover {
  color: aqua;
}

header menu li:last-child {
  margin-right: 0;
}

/*header*/
/* Representation */

.representation {
  height: 350px;
  background: linear-gradient(to right, rgba(33, 33, 36, 0.619), rgba(33, 33, 36, 0.619)),
    url(img/amelia.jpg);
  background-position-x: center;
  background-position-y: 660px;
  background-size: cover;

}

.representation__title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 100px;
}

.representation__subtitle {
  font-family: NunitoSans, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 30px;
  letter-spacing: 0.09px;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Numbers */

.numbers {
  background-color: #10c9c3;
  min-height: 240px;
  margin: 0 auto;
}

.numbers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  padding-top: 100px;
}

.numbers-list__item {
  width: 212px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.numbers-list__img {
  display: block;
}

.numbers-list__text {
  width: 500px;
  margin-left: 25px;
}

.numbers-list__title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.numbers-list__subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

/* About me */

.about__banner {
  min-height: 570px;
  background-image: url(img/about.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-color: #F6F6F6;
}

.about__info {
  width: 400px;
  margin-left: auto;
  margin-right: 150px;
  padding-top: 100px;
}

.about__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  align-items: center;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.about__subtitle {
  font-family: NunitoSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  color: #787878;
  margin-top: 30px;
}

.about__img {
  margin-top: 25px;
}

/* Project */

.project {
  height: 400px;
}

.project__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #1D1D1D;
  padding-top: 80px;
}

.project__subtitle {
  font-family: NunitoSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08px;
  color: #787878;
}

.project__button {
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  width: 180px;
  height: 54px;
  border: 0;
  background-color: #10c9c3;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  color: #ffffff;
  margin: 0 auto;
  transition: 500ms;
  margin-top: 30px;
  letter-spacing: 1.2px;
}

.project__button:hover {
  background: #00837f;
  transition: 500ms;

}

/*Footer*/
.containerf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  width: 100%;
  background: #0C0C0C;
  padding: 100px 0;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footerMainMenu {
  display: flex;
  flex-wrap: wrap;
}

.license {
  margin-right: 245px;
}

.license h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 27px;
}

.contacts {
  margin-right: 145px;
}

.footerInfo {
  margin-right: 55px;
}

.footerMenu {
  margin-right: 135px;
}