/* Globalne style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul,
menu {
    list-style: none;
}

.container {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
}
.container_content{
    max-width: 1200px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #10c9c3;;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00837f;
  }

/*header*/
header {
    width: 100%;
    
    
}

header .container {
    padding: 0 8px;
}
.logo1{
    margin-left: 15rem;
    padding: 38px 0 20px 0;

    float: left;
}
.logo {
    width: 31px;
    height: 25px;


}
header menu {
    width: 300px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100%;
    padding: 38px 0 20px 0;

}

header menu li {
    font-size: 12px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}

header a:hover{
color: aqua;
}

header menu li:last-child {
    margin-right: 0;
}

.contact {
    padding-top: 4rem;
    height: 500px;
    background-color: #F5F5F5;
  }
  
  .contact__block {
    width: 369px;
    height: 306px;  
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }
  
  .contact-info {
    width: 369px;
    padding-top: 50px;
  }
  
  .contact-info__title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    color: #171717;
  }
  
  .contact-info__subtitle {
    font-family: NunitoSans, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #787878;
  }
  
  .contact-info__link {
    font-family: NunitoSans, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #787878;
  }
  
  .contact-info__link:hover {
    color: #141414;;
  }
  
  .bold {
    color: #000;
    font-weight: bold;
  }
  
  .address,
  .phone, 
  .email,
  .fax {
    line-height: 36px;
  }
  
  .address {
    margin-top: 20px;
  }
  .contact-form {
    width: 671px;
    height: 410px;
    padding-top: 50px;
  }
  
  .contact-form__input {
    width: 320px;
    height: 48px; 
    border: 0;
    padding-left: 15px;
    outline: none;
  }
  
  .email__input {
    margin-left: auto;
  }
  
  .title__input {
    width: 670px;
    height: 48px;
    margin-top: 25px;
  }
  
  .comment__input {
    width: 670px;
    height: 170px;
    margin-top: 25px;
    resize: none;
    font-family: NunitoSans, sans-serif;
    padding-top: 10px;
  }
  
  .login__block {
    display: flex;
  }
  
  #editor {
    font-family: NunitoSans, sans-serif;
  }
  
  .contact__button {
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    width: 180px;
    height: 54px;
    border: 0;
    background-color: #10c9c3;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    margin: 0 auto;
    transition: 500ms;
    margin-top: 30px;
    letter-spacing: 1.2px;
  }
  .map {
    background-color: #F5F5F5;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  
  #map {
    width: 1170px;
    height: 470px;
    margin: 0 auto;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .containerf {
    display: flex;
    justify-content: center;
}
footer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    background: #0C0C0C;
    padding: 100px 0;
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footerMainMenu {
    display: flex;
    flex-wrap: wrap;
}

.license{
    margin-right: 245px;
}

.license h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 27px;
}

.contacts {
    margin-right: 145px;
}

.footerInfo {
    margin-right: 55px;
}

.footerMenu {
    margin-right: 135px;
}
  
  