/* Globalne style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul,
menu {
    list-style: none;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

/*header*/
header {
    width: 100%;
    display: flex;
    padding: 38px 0 0 0;
}

header .container {
    padding: 0 8px;
}

.logo {
    width: 31px;
    height: 25px;
    float: left;
}

header menu {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

header menu li {
    font-size: 12px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}

header a:hover{
color: aqua;
}

header menu li:last-child {
    margin-right: 0;
}


.midd {
    flex: 0 2 50%;
    /* 30% wysokości okna przeglądarki */
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    min-height: 15rem;
}

.midd h2 {
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    font-size: 52px;
    font-weight: bold;
    margin: auto;
    padding: 20px;
}

.midd p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 24px;
    margin: auto;
    padding: 10px;
}

.images ul {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #DEDEDE
}
.images li{
    cursor: pointer;
    position: relative;
    text-align:center;
    width: 25%;
    height: 25%px;

    background: #202020;
}

.images .container{
    opacity: 1;
    position: relative;
}

.images div{
    width: 100%;
    height: 100%;
    background: #202020;
    position:absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.images img:first-child{
    padding: 40% 0 0 0;
    width: 48px;
    height: 30px;
}

.images img{
    width: 100%;
    height: 100%;
}

.images li:hover div{
    opacity: 0.75;
}

footer {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    background: #0C0C0C;
    padding: 100px 0;
    color: #ffffff;

}

footer a {
    color: #ffffff;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footerMainMenu {
    display: flex;
    flex-wrap: wrap;
}

.license {
    margin-right: 245px;

}

.license h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 27px;
}

.contacts {
    margin-right: 145px;
}

.footerInfo {
    margin-right: 55px;
}

.footerMenu {
    margin-right: 135px;
}

@media screen and (max-width: 1190px) {
    .logo {
        display: block;
        margin-bottom: 20px;
    }

    header menu {
        float: left;
        margin-left: 0;
    }

    footer {
        width: calc(100% - 16px);
        padding: 100px 8px;
    }
}