/* Globalne style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    float: left;
    padding-right: 15px;
    padding-left: 150px;
}
header{
    height: auto;
    min-height: 5rem;
    padding-top: 20px;
}
header .logo{
    padding-right: 30px;
}

nav {
    background-color: white;
    color: gray;
    text-align: right;
    font-family: 'Nunito Sans';
    padding-right: 150px;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: gray;
    text-decoration: none;
    margin-right: 40px;
}

.midd {
    flex: 0 1 30%; /* 30% wysokości okna przeglądarki */
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

.end {
    flex: 0 1 60%; /* 60% wysokości okna przeglądarki */
    background-color: #f8f9fa;
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}
